<style>
            .galaxy_normal { background: url({asset_url}img/fdr/tctire3.jpg) no-repeat top left;  }
            
            .hov1 { margin-left:303px; margin-top:201px; }  
             
            #td_box { 
                width: 200px;
                height: 330px;
                overflow-y: auto;
                padding: 5px 10px; 
            }
             
            .inset_list ul li { padding: 0px; margin: 0px; }
            .inset_list ul li a{
                display: block; 
                padding: 1px 5px 1px 5px; color: #ffffff; font-size: 13px;
                min-width: 150px;
            }
            .inset_list ul li a:hover{
                background-color: #AA1E1E; color:  #ffffff; text-decoration: none;
            }
             
           
            
            .tth_1 { margin-left: 25px; margin-top: 60px; }
            .tth_1 .inner {  float:left; width: 230px; height: 260px; }
            .tth_1 .point {  float:right; margin-top: 165px;} 
        </style>
        
        <script> 
           
            
        </script>  
            <div id="galaxy" class="galaxy_normal">
                <div class="planets">
                    <a class="hov hov1" id="hov1" data-id="1" data-index="1" data-hov="aquod_hov"  >
                        <img src="{asset_url}img/spacer.png" />
                    </a> 
                </div>
                
                <div class="ln_wrap">
                    <div style="" class="ln_prev_wrap">
                        <a class="ln_prev" href="{site_url}tireology/view_technology/2"><i class="icon icon-chevron-left"></i> PREV</a>
                    </div>
                    <!--<div style="" class="ln_next_wrap">-->
                    <!--    <a class="ln_next" href="{site_url}tireology/view_technology/2">NEXT <i class="icon icon-chevron-right"></i></a>-->
                    <!--</div>-->
                </div>
                
                
                <div class="overlay_black hide"></div>
                
                <div class="overlay_box">
                    <img id="overlay_1" class="overlay" src="{asset_url}img/fdr/tr_ovr_tech_3-1.png" /> 
                </div> 
            
                <div id="tth_1" class=" tth_1 tth hide">
                    
                    <div class="inner">
                        <a class="closebox" data-id="tth_1" >x</a> 
                        <div class="">
                            <table class="tth_table">
                                <td class="left">
                                    <img style="width:60px;" src="{site_url}userfiles/upload/{$data['A-quo D'].tth_logo}" />
                                </td>
                                <td class="right">
                                    <div class="tth_name">{$data['A-quo D'].tth_name}</div>
                                    <div class="tth_subtitle">{$data['A-quo D'].tth_subtitle}</div>
                                    <div class="tth_brief">{$data['A-quo D'].tth_brief}</div>
                                    <div style="text-align: right;">
                                        <a onClick="load_detail('{$data['A-quo D'].tth_id}');" class="btn btn-inverse btn-small" >more <img src="{asset_url}img/arrow_right_grey.png"></a>
                                    </div>
                                </td>
                            </table> 
                        </div>
                    </div>
                    <div class="point"><img src="{asset_url}img/fdr/tria_dr.png" /></div>
                 </div>
                    
                <div id="tth_2" class=" tth_2 tth hide">
                    
                    <div class="inner">
                        <a class="closebox" data-id="tth_2" >x</a> 
                        <div class="">
                            <table class="tth_table">
                                <td class="left">
                                    <img style="width:60px;" src="{site_url}userfiles/upload/{$data['DC Tech'].tth_logo}" />
                                </td>
                                <td class="right">
                                    <div class="tth_name">{$data['DC Tech'].tth_name}</div>
                                    <div class="tth_subtitle">{$data['DC Tech'].tth_subtitle}</div>
                                    <div class="tth_brief">{$data['DC Tech'].tth_brief}</div>
                                    <div style="text-align: right;">
                                        <a onClick="load_detail('{$data['DC Tech'].tth_id}');" class="btn btn-inverse btn-small" >more <img src="{asset_url}img/arrow_right_grey.png"></a>
                                    </div>
                                </td>
                            </table> 
                        </div>
                    </div>
                    <div class="point"><img src="{asset_url}img/fdr/tria_rd.png" /></div>
               </div>
                    
                <div id="tth_3" class=" tth_3 tth hide">
                   <div class="point"><img src="{asset_url}img/fdr/tria_lu.png" style="height: 20px;" /></div>
                    <div class="inner">
                        <a class="closebox" data-id="tth_3" >x</a>
                        <div class="">
                            <table class="tth_table">
                                <td class="left">
                                    <img style="width:60px;" src="{site_url}userfiles/upload/{$data['SCS'].tth_logo}" />
                                </td>
                                <td class="right">
                                    <div class="tth_name">{$data['SCS'].tth_name}</div>
                                    <div class="tth_subtitle">{$data['SCS'].tth_subtitle}</div>
                                    <div class="tth_brief">{$data['SCS'].tth_brief}</div>
                                    <div style="text-align: right;">
                                        <a onClick="load_detail('{$data['SCS'].tth_id}');" class="btn btn-inverse btn-small" >more <img src="{asset_url}img/arrow_right_grey.png"></a>
                                    </div>
                                </td>
                            </table> 
                        </div>
                    </div> 
               </div>
                
                <div id="tth_4" class=" tth_4 tth hide"> 
                    <div class="inner">
                        <a class="closebox" data-id="tth_4" >x</a>
                        <div class="">
                            <table class="tth_table">
                                <td class="left">
                                    <img style="width:60px;" src="{site_url}userfiles/upload/{$data['V-Profile'].tth_logo}" />
                                </td>
                                <td class="right">
                                    <div class="tth_name">{$data['V-Profile'].tth_name}</div>
                                    <div class="tth_subtitle">{$data['V-Profile'].tth_subtitle}</div>
                                    <div class="tth_brief">{$data['V-Profile'].tth_brief}</div>
                                    <div style="text-align: right;">
                                        <a onClick="load_detail('{$data['V-Profile'].tth_id}');" class="btn btn-inverse btn-small" >more <img src="{asset_url}img/arrow_right_grey.png"></a>
                                    </div>
                                </td>
                            </table> 
                        </div>
                    </div>
                    <div class="point"><img src="{asset_url}img/fdr/tria_rd.png" /></div>
               </div>
             
        </div>
        
       
        
      <!--  {foreach from=$tire_tech name=tth item=tth}
        <div id="tth_{$tth.tth_id}" class=" tth_{$tth.tth_name} hide">  
            <img src="{site_url}userfiles/upload/{$tth.tth_logo}" />
            <div class="tth_name">{$tth.tth_name}</div>
            <div class="tth_subtitle">{$tth.tth_subtitle}</div>
            <div class="tth_brief">{$tth.tth_desc}</div>
        </div>
        {/foreach}-->