<ul class="breadcrumb">
    <li><a href="{site_url}">Home</a></li>
    <li class="divider"><img src="{asset_url}img/gb/arrow_divider.png" /></li>
    <li><a href="#">Products</a></li>
</ul>

<style>
    .fd_header {
	background: #000000;
    }
</style>
 
<script>  
	
</script>

<script type="text/javascript">
	$(function(){
		load_tire_search();
		
		$('.mapchange').click(function(e) {
		    e.preventDefault();
		    var lat = $(this).attr('data-lat');
		    var long = $(this).attr('data-long');
		    var zoom = $(this).attr('data-zoom');
		    document.getElementById('mapframe').src = "{site_url}find_dealer/map/no/"+zoom+"/"+lat+"/"+long+"/";
		    var destination = $('#mapframe').offset().top;
            $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination-150}, 500 ); 
		});
	}); 
</script>
 
<div>
	<div class="fd_box">
		<div class="fd_header">
			<div class="fd_title" style="font-weight: bold;">FIND A DEALER</div>
		</div>
		<div class="fd_body">
			<div class="row-fluid">
				<div class="span9">
					<div class="leftside"> 
						<iframe id="mapframe" width="700" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
								src="{site_url}find_dealer/map/no/{$zoom}/-6.315299/106.735839"></iframe> 
					
					{if $site_config.store_locator_on == 'Yes'} 
						<div class="locator_disclaimer" style="margin-top: 20px;">
						{if $is_mobile == 'No'} 
						<!--    Akses fdrtire.com lewat smartphone, tablet PC, atau iPad anda untuk menggunakan <strong>store locator</strong>.<br>-->
						<!--	Temukan toko terdekat yang menjual ban FDR dari lokasi anda berada. -->
						{else} 
							
						{/if}
						<a href="{site_url}find_dealer/do_locator" class="btn btn-danger">Store Locator</a>
							<div class="spacer5"></div>
							Temukan toko terdekat yang menjual ban FDR dari lokasi anda berada. 
						</div> 
					{/if}
					</div>
				</div>
				
				<div class="span3">
				   <div id="TSearch_box" class="front_search_box"></div>
				</div>
			</div>
		</div>
		
		<div class="fd_footer">
			<div class="spacer20"></div>
		</div>
	</div>
	
	<div>
	    <style>
		.area_table  td { vertical-align: top; padding-right: 10px; padding-bottom: 5px; }
		.area_table table td { vertical-align: top;  padding: 3px; }
	    </style>
	    <div class="spacer20"></div>
	    <div class="" style="font-size: 18px; font-weight: bold; border-bottom: solid 1px #cccccc; padding-bottom: 10px; margin-bottom: 10px;  " >
		Navigate Area
	    </div>
	     <table class="area_table" style="width: 100%;"> 
		<tr>
		    {foreach from=$dealer_area name=dlra item=dlra}
		    <td width="100">
			<a class="mapchange" data-lat="{$dlra.dlra_lat}" data-long="{$dlra.dlra_long}" data-zoom="7">{$dlra.dlra_name}</a> 
		    </td>
			{if $smarty.foreach.dlra.iteration %6 == 0}
			    </tr><tr>
			{/if} 
		    {/foreach}
		</tr>
	    </table>
	   <!-- <table class="area_table" style="width: auto;">
		<tr>
		    <td width="100">
			<table>
			{foreach from=$dealer_area name=dlra item=dlra}
			    <tr><td><a class="mapchange" data-lat="{$dlra.dlra_lat}" data-long="{$dlra.dlra_long}"  >{$dlra.dlra_name}</a></td></tr>
			    {if $smarty.foreach.dlra.iteration %2 == 0}
				</table></td><td width="100"><table>
			    {/if}
			{/foreach}
			</table>
		    </td>
		</tr>
	    </table>-->
	</div>
</div>


 