
		<footer>
			
		</footer>

    </div>
    </div>
    </div>
	<!--body_container-END--> 

<!--<div class="navbar navbar-fixed-bottom navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<div class="nav-collapse" style="min-height: 32px;" >
				<ul class="nav">
					<li class="pull-right">
						{$site_config.app_copyright_text} | loaded in {$elapsed} ms |  
					</li>
					<li>
						<a href="#anchor_top" >back to top <i class="icon-chevron-up icon-white"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>-->

<footer id="main_footer" style="">
	<div class="footer_inner">
		
		<ul class="pull-right">
			<li>
				{$site_config.app_copyright_text} | loaded in {$elapsed} ms |  
			</li>
			<li>
				<a href="#anchor_top" >back to top <i class="icon-chevron-up icon-white"></i></a>
			</li>
		</ul>
		
		<div class="clear"></div>
	</div>
	
</footer>

</body>
</html>
