<style>
    table td { vertical-align: top; }
    table td:first-child { text-align: right; background: #EAECFF; width: 100px;}
</style>
Someone has just post on the contactus page - fdrtire.com
<br> 
<hr>
<table cellpadding="5" border="0">
    <tr>
        <td style="text-align: right; background: #EAECFF; width: 100px; vertical-align: top;">Post Time</td>
        <td>{$contactus.cus_entry}</td>
    </tr>
    <tr>
        <td style="text-align: right; background: #EAECFF; width: 100px; vertical-align: top;">Name</td>
        <td>{$contactus.cus_name}</td>
    </tr>
    <tr>
        <td style="text-align: right; background: #EAECFF; width: 100px; vertical-align: top;">Company</td>
        <td>{$contactus.cus_company}</td>
    </tr>
    <tr>
        <td style="text-align: right; background: #EAECFF; width: 100px; vertical-align: top;">Email</td>
        <td>{$contactus.cus_email}</td>
    </tr>
    <tr>
        <td style="text-align: right; background: #EAECFF; width: 100px; vertical-align: top;">Phone</td>
        <td>{$contactus.cus_phone}</td>
    </tr>
    <tr>
        <td style="text-align: right; background: #EAECFF; width: 100px; vertical-align: top;">Inquiry</td>
        <td>{$contactus.cus_text}</td>
    </tr>
     
    
</table>