    
<ul class="breadcrumb">  
    <li><a href="{site_url}">Home</a></li>
    <li class="divider"><img src="{asset_url}img/gb/arrow_divider.png" /></li>
    <li><a href="{site_url}club">Clubs</a></li>
    <li class="divider"><img src="{asset_url}img/gb/arrow_divider.png" /></li>
    <li>Send E-Card</li> 
</ul>
     
     
    <div class="article_entry_header">
        <div class="article_entry_header_text">Send E-Card <img src="{asset_url}img/fdr/news_title_arrow.png" /> </div>
    </div>
    
    <div style="text-align: center; margin:10px;">
        Your E-Card has been successfully sent !
    </div>
    
    