<div style="margin:10px;">

<ul class="breadcrumb">
	{foreach from=$breadcrumb name=b item=b key=bk}
	<li>
		{$b}
	</li>
	{if !$smarty.foreach.b.last}<li class="divider">»</li>{/if}
	{/foreach}
</ul>

<div class="content_wrap" >

	<div class="page_title">
		Search Results <img src="{asset_url}img/fdr/news_title_arrow.png" /> 
	</div>

	<div>
		<div>
			search keyword : <span style="font-weight:bold; font-size:14px;">{$searchkey}</span>
		</div>
		<div class="spacer10"></div>
		{if !$maindata}
			<div class="red">search returned no result</div>
		{else}
			<table class="article_entry_table table table-striped table-striped">
				{foreach from=$maindata item=m name=m}
					{if $m.cl_code != 'snippet'}
					<tr>
						<!--{if $m.c_banner != ''}-->
						<td class="article_entry_td_image">
							<div class="article_image_box">
							<img src="{site_url}userfiles/upload/thumb/{$m.c_banner}" class="thumb" height="200"   />
							</div>
						</td>
						<!--{/if}-->
						<td class="article_entry_td_content" {if $m.c_banner == ''}colspan="2"{/if} >
							<div class="article_entry_date">{$m.c_date|date_format:'d F Y'}</div>
							<div class="article_entry_title">{$m.c_title}</div>
							{if $m.cl_code == 'page'}
								<div class="article_entry_content">{$m.c_content_full|truncate:350}</div>
							{else} 
								<div class="article_entry_content">{$m.c_content_intro}</div>
							{/if}
							<div class="article_entry_readmore">
									<a href="{site_url}article/view/{$m.c_id}/{$m.c_title|url_title}" >READ MORE</a>
							</div> 
						</td>
					</tr>
					{/if}
				{/foreach}
			</table>
			
			<div style="text-align: right;">{$paging}</div> 
		{/if}
	</div>



</div>
<div class="spacer10"></div>

</div>
