

<div class="topbanner" style="background-image:url({asset_url}img/poc/banner_calendar.jpg);" >
    <!--<div class="adesc">
        <div class="topbanner_caption_wrap">
        <div class="topbanner_caption_container">
            <div class="topbanner_caption_inner">
                <span class="topbanner_caption">
                    <h2>
                        We Provide Technology, support, visibility, and community to promising startup and enterpreneurs at no charge
                    </h2>
                    <div class="content">
                        Donec eget dui dapibus dui lobortis pretium. Fusce condimentum fringilla pharetra. Proin nec pharetra odio.
                        <button class="btn btn-poc">Join POC</button>
                    </div>
                </span>
            </div>
        </div>
        </div>
    </div>-->
</div>


<div class="container">
    <div class="row-fluid">
        <div class="span12">

            <ul class="breadcrumb">
                <li><a href="{site_url}">Home</a></li>
                <li class="divider">&gt;&gt;</li>
                <li><a href="#">Calendar</a></li>
            </ul>

            <div>
                <h2>
                    Proof Of Concept Events Calendar
                </h2>
                <div class="page_content">

					<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=80gpdnspd4rqf4fj5a01crdhp8%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=Asia%2FJakarta" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

                    <div class="spacer20"></div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="signupfor hide">
	<div class="container signupfor_inner">
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span9 signupfor_text">
				Sign Up for Proof Of Concept <button class="btn btn-poc" style="display: inline; margin-left: 10px; margin-top: -4px;">Join POC</button>
			</div>
		</div>
	</div>
</div>