<div style=" ">
	<div style="">
 

		<div style="padding:20px; ">
			<h3>Hi {$fullname}, Thank You For Your Registration !</h3>

			<div style="padding:10px;" >
				The next step you need to do is click the link below to activate your account
			</div>

			<div  style="padding:10px 30px; background: #E2E0E0;">
				<a href="{site_url}register/activation/{$key}" class="btn btn-submit" >{site_url}register/activation/{$key}</a>
			</div>
			<br>

			<div style="margin-top: 10px;" >
				Happy Shopping 
			</div>
		</div>

 
	</div>
</div>
