<script type="text/javascript">
	var current_uri = '{$current_uri}';
	var mod_url = '{$mod_url}';
	var use_ajax = '{$use_ajax|default:FALSE}';
</script>


<ul class="module-links">
	<li><a href="{$mod_url}add/"  class="add"  >+ add new entry</a></li>
</ul>

<div class="index_filter_cont" >
	<div class="index_search_cont" >
		<form name="frmSearch" action="{$mod_url}search" method="post">
			<input type="hidden" name="pagelimit" value="{$pagelimit}" />
			<input type="hidden" name="offset" value="{$offset}" />
			<input type="hidden" name="orderby" value="{$orderby}" />
			<input type="hidden" name="ascdesc" value="{$ascdesc}" />
			<input type="hidden" name="page" value="{$mod_url}index/" />
			Search : <input type="text" name="searchkey" value="{$searchkey}"> <input class="btn small" type="submit" value="Find">
		</form>
	</div>
</div>


{if !$maindata}
	<div class="red">
		data not found
	</div>
{else}


	<table class="table table-striped" id="mainData" width="100%">
	<thead>
		<tr>
			<th width="40"></th>
			<th><a href="javascript:doSort('e_name');">Event Name</a></th>
			<th width="60"><a href="javascript:doSort('e_name');">Start Date</a></th>
			<th width="60"><a href="javascript:doSort('e_name');">End Date</a></th>
			<th width="200"><a href="javascript:doSort('e_name');">Location</a></th>
			<th width="300"><a href="javascript:doSort('e_name');">Speakers</a></th>

			<th width="120"><a href="javascript:doSort('e_entry');">Created</a></th>
			<th width="70"></th>
		</tr>
	</thead>

	<tbody>
		{foreach from=$maindata item=m name=m key=mk}
		<tr>
			<td>
				{if $m.e_thumbnail != ''}
					<img src="{site_url}userfiles/upload/thumb/{$m.e_thumbnail}" width="40" height="40"/>
				{/if}
			</td>
			<td>
				<a href="{$mod_url}edit/{$m.e_id}" class="edit" >{$m.e_name}</a>
			</td>

			<td>{$m.e_date}</td>
			<td>{$m.e_end_date}</td>
			<td>{$m.e_location}</td>
			<td>{$m.e_speakers}</td>
			<td>{$m.e_entry}</td>
			<td >
				<div class="btn-group">
					{if $m.e_status == 'Active' }
						<a href="{$mod_url}edit/{$m.e_id}" class="btn btn-small edit" ><i class="icon-edit"></i></a>
						<a href="{$mod_url}delete/{$m.e_id}" class="btn btn-small delete areyousure" ><i class="icon-trash"></i></a>
					{else}
						<a href="{$mod_url}change_status/{$m.c_id}/Active" class="btn btn-small">restore</a>
					{/if}
				</div>
			</td>

		</tr>
		{/foreach}
	</tbody>
	</table>

	{$paging}
	{$paging_js}

{/if}
