<div class="topbanner" style="background-image:url({asset_url}img/poc/banner_about.jpg);" >
    <div class="adesc">
        <div class="topbanner_caption_wrap">
        <div class="topbanner_caption_container">
            <div class="topbanner_caption_inner">
                <span class="topbanner_caption">
                    <h2>
                        We Provide Technology, support, visibility, and community to promising startup and enterpreneurs at no charge
                    </h2>
                    <div class="content">
                        Donec eget dui dapibus dui lobortis pretium. Fusce condimentum fringilla pharetra. Proin nec pharetra odio.
                        <button class="btn btn-poc">Join POC</button>
                    </div>
                </span>
            </div>
        </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <div class="left_quote" style="">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare ornare suscipit. Aliquam erat volutpat. Donec a quam vulputate lorem sollicitudin gravida. Proin aliquam auctor ornare.
            </div>
			<div class="line_small"></div>
        </div>

        <div class="span9">

            <ul class="breadcrumb">
                <li><a href="{site_url}">Home</a></li>
                <li class="divider">&gt;&gt;</li>
                <li><a href="#">Overview</a></li>
            </ul>

            <div>
                <h2>
                    Etiam laoreet varius dui in porttitor.
                </h2>
                <div class="page_content">

                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 50%;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare ornare suscipit. Aliquam erat volutpat. Donec a quam vulputate lorem sollicitudin gravida. Proin aliquam auctor ornare. Pellentesque posuere tincidunt lorem, eu vulputate sem sollicitudin vitae. Morbi scelerisque nunc vehicula ipsum vehicula eget dictum risus tempor. Aliquam et purus ante, id semper nisi. Vivamus in neque vel lorem consequat venenatis a id tortor.
                            </td>
                            <td style="width: 50%;padding-left: 10px;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare ornare suscipit. Aliquam erat volutpat. Donec a quam vulputate lorem sollicitudin gravida. Proin aliquam auctor ornare. Pellentesque posuere tincidunt lorem, eu vulputate sem sollicitudin vitae. Morbi scelerisque nunc vehicula ipsum vehicula eget dictum risus tempor. Aliquam et purus ante, id semper nisi. Vivamus in neque vel lorem consequat venenatis a id tortor.
                            </td>
                        </tr>
                    </table>

                    <div class="spacer10"></div>
                    <h2>How POC Program Works</h2>

                    <img src="{asset_url}img/poc/about_1.jpg" />
                    <div class="spacer10"></div>

                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 30%;">
                                <ul>
                                    <li>Software, cloud computing, and support to help you grow your business</li>
                                    <li>Access to network partners, including investors, mentors and startpus in your area and around the world</li>
                                    <li>A community of peers - online, one-on-one, and at BizSpark events</li>
                                </ul>
                            </td>
                            <td style="width: 30%;">
                                <ul>
                                    <li>Software, cloud computing, and support to help you grow your business</li>
                                    <li>Access to network partners, including investors, mentors and startpus in your area and around the world</li>
                                    <li>A community of peers - online, one-on-one, and at BizSpark events</li>
                                </ul>
                            </td>
                            <td style="width: 30%;">
                                <ul>
                                    <li>Software, cloud computing, and support to help you grow your business</li>
                                    <li>Access to network partners, including investors, mentors and startpus in your area and around the world</li>
                                    <li>A community of peers - online, one-on-one, and at BizSpark events</li>
                                </ul>
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="spacer20"></div>
            </div>




        </div>
    </div>
</div>


<div class="signupfor">
	<div class="container signupfor_inner">
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span9 signupfor_text">
				Sign Up for Proof Of Concept <button class="btn btn-poc" style="display: inline; margin-left: 10px; margin-top: -4px;">Join POC</button>
			</div>
		</div>
	</div>
</div>