<style type="text/css">
.adivider { margin: 0px 8px;}
</style>

<div class="topbanner" style="background-image:url({asset_url}img/poc/banner_blog.jpg);" >
    <!--<div class="adesc">
        <div class="topbanner_caption_wrap">
        <div class="topbanner_caption_container">
            <div class="topbanner_caption_inner">
                <span class="topbanner_caption">
                    <h2>
                        We Provide Technology, support, visibility, and community to promising startup and enterpreneurs at no charge
                    </h2>
                    <div class="content">
                        Donec eget dui dapibus dui lobortis pretium. Fusce condimentum fringilla pharetra. Proin nec pharetra odio.
                        <button class="btn btn-poc">Join POC</button>
                    </div>
                </span>
            </div>
        </div>
        </div>
    </div>-->
</div>


<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <div class="spacer20"></div>
            <div class="spacer20"></div>
            <div class="spacer20"></div>

            <div style="text-align: right;">
                <img src="{asset_url}img/poc/share_title.png"/>
                <div class="spacer10"></div>
                <div style="width: 200px; text-align: left; display: inline;">
                    <a href="" class="orange">Facebook</a><br>
                    <a href="" class="orange">Twitter</a><br>
                    <a href="" class="orange">Email</a><br>
                </div>
            </div>

            <div class="spacer20"></div>
            <div class="spacer20"></div>

            <div style="background: #EFEFEF; border: solid 1px #cccccc; padding:10px;">
                <div style="border-bottom: solid 1px #333333; padding-bottom: 10px; margin-bottom: 10px; ">
                    <div style="letter-spacing: 2px; font-weight: bold;">
                        LATEST POST
                    </div>
                </div>

                <div style="border-bottom: solid 1px #333333; padding-bottom: 10px; margin-bottom: 10px; ">
                    <div style=" font-weight: bold;">
                        AUTHOR NAME
                    </div>
                    <div class="orange" style="font-weight: bold;">
                        Digital Folio Shopping
                    </div>
                </div>
                <div style="border-bottom: solid 1px #333333; padding-bottom: 10px; margin-bottom: 10px; ">
                    <div style=" font-weight: bold;">
                        AUTHOR NAME
                    </div>
                    <div class="orange" style="font-weight: bold;">
                        Digital Folio Shopping
                    </div>
                </div>
                <div style="border-bottom: solid 1px #333333; padding-bottom: 10px; margin-bottom: 10px; ">
                    <div style=" font-weight: bold;">
                        AUTHOR NAME
                    </div>
                    <div class="orange" style="font-weight: bold;">
                        Digital Folio Shopping
                    </div>
                </div>
            </div>

            <div class="spacer20"></div>

        </div>

        <div class="span9">

            <ul class="breadcrumb">
                <li><a href="{site_url}">Home</a></li>
                <li class="divider">&gt;&gt;</li>
                <li><a href="#">Blog</a></li>
            </ul>

            <div>
                <div class="page_content">


                    <div class="spacer10"></div>
                    <h2>In ornare ornare suscipit.</h2>
                    <img src="{asset_url}img/poc/nn1.jpg">
                    <div style="margin:10px 0px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare ornare suscipit. Aliquam erat volutpat. Donec a quam vulputate lorem sollicitudin gravida. Proin aliquam auctor ornare. Pellentesque posuere tincidunt lorem, eu vulputate sem sollicitudin vitae. Morbi scelerisque nunc vehicula ipsum vehicula eget dictum risus tempor. Aliquam et purus ante, id semper nisi. Vivamus in neque vel lorem consequat venenatis a id tortor. Morbi scelerisque nunc vehicula ipsum vehicula eget dictum risus tempor. Aliquam et purus ante, id semper nisi. Vivamus in neque vel lorem consequat venenatis a id tortor.
                    </div>
                    <div style="margin-bottom: 10px; padding: 3px 10px; border-top: solid 1px #cccccc; border-bottom: solid 1px #cccccc; ">
                        <div class="pull-left">
                        By POC <span class="adivider">|</span>
                        June 29th, 2013 <span class="adivider">|</span>
                        Concept, Photography, Business, Corporate, Creative <span class="adivider">|</span>
                        12 Comments <span class="adivider">
                        </div>
                        <div class="pull-right">
                            <a href="#" class="orange">Read More</a> &gt;
                        </div>
                        <div class="clear"></div>
                    </div>


                    <div class="spacer10"></div>
                    <h2>In ornare ornare suscipit.</h2>
                    <img src="{asset_url}img/poc/nn1.jpg">
                    <div style="margin:10px 0px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare ornare suscipit. Aliquam erat volutpat. Donec a quam vulputate lorem sollicitudin gravida. Proin aliquam auctor ornare. Pellentesque posuere tincidunt lorem, eu vulputate sem sollicitudin vitae. Morbi scelerisque nunc vehicula ipsum vehicula eget dictum risus tempor. Aliquam et purus ante, id semper nisi. Vivamus in neque vel lorem consequat venenatis a id tortor. Morbi scelerisque nunc vehicula ipsum vehicula eget dictum risus tempor. Aliquam et purus ante, id semper nisi. Vivamus in neque vel lorem consequat venenatis a id tortor.
                    </div>
                    <div style="margin-bottom: 10px; padding: 3px 10px; border-top: solid 1px #cccccc; border-bottom: solid 1px #cccccc; ">
                        <div class="pull-left">
                        By POC <span class="adivider">|</span>
                        June 29th, 2013 <span class="adivider">|</span>
                        Concept, Photography, Business, Corporate, Creative <span class="adivider">|</span>
                        12 Comments <span class="adivider">
                        </div>
                        <div class="pull-right">
                            <a href="#" class="orange">Read More</a> &gt;
                        </div>
                        <div class="clear"></div>
                    </div>


                    <div class="spacer10"></div>
                    <h2>In ornare ornare suscipit.</h2>
                    <img src="{asset_url}img/poc/nn1.jpg">
                    <div style="margin:10px 0px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare ornare suscipit. Aliquam erat volutpat. Donec a quam vulputate lorem sollicitudin gravida. Proin aliquam auctor ornare. Pellentesque posuere tincidunt lorem, eu vulputate sem sollicitudin vitae. Morbi scelerisque nunc vehicula ipsum vehicula eget dictum risus tempor. Aliquam et purus ante, id semper nisi. Vivamus in neque vel lorem consequat venenatis a id tortor. Morbi scelerisque nunc vehicula ipsum vehicula eget dictum risus tempor. Aliquam et purus ante, id semper nisi. Vivamus in neque vel lorem consequat venenatis a id tortor.
                    </div>
                    <div style="margin-bottom: 10px; padding: 3px 10px; border-top: solid 1px #cccccc; border-bottom: solid 1px #cccccc; ">
                        <div class="pull-left">
                        By POC <span class="adivider">|</span>
                        June 29th, 2013 <span class="adivider">|</span>
                        Concept, Photography, Business, Corporate, Creative <span class="adivider">|</span>
                        12 Comments <span class="adivider">
                        </div>
                        <div class="pull-right">
                            <a href="#" class="orange">Read More</a> &gt;
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>

                <div class="spacer20"></div>
            </div>




        </div>
    </div>
</div>

<div class="signupfor">
	<div class="container signupfor_inner">
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span9 signupfor_text">
				Sign Up for Proof Of Concept <button class="btn btn-poc" style="display: inline; margin-left: 10px; margin-top: -4px;">Join POC</button>
			</div>
		</div>
	</div>
</div>