<div class="topbanner" style="background-image:url({asset_url}img/poc/banner_service.jpg);" >
    <!--<div class="adesc">
        <div class="topbanner_caption_wrap">
        <div class="topbanner_caption_container">
            <div class="topbanner_caption_inner">
                <span class="topbanner_caption">
                    <h2>
                        We Provide Technology, support, visibility, and community to promising startup and enterpreneurs at no charge
                    </h2>
                    <div class="content">
                        Donec eget dui dapibus dui lobortis pretium. Fusce condimentum fringilla pharetra. Proin nec pharetra odio.
                        <button class="btn btn-poc">Join POC</button>
                    </div>
                </span>
            </div>
        </div>
        </div>
    </div>-->
</div>


<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <div class="spacer20"></div>
            <div class="spacer20"></div>
            <div class="spacer20"></div>

            <div class="spacer20"></div>

            <div style="width: 130px; margin:0 20px 0 auto;">
                <div style="border-bottom: solid 1px #333333; padding-bottom: 10px; margin-bottom: 10px; ">
                    <div style="letter-spacing: 2px; font-weight: bold;">
                        FEATURED STARTUP APPS
                    </div>
                </div>

                <div style="border-bottom: solid 1px #333333; padding-bottom: 10px; margin-bottom: 10px; ">
                    <div style=" font-weight: bold;">
                        AUTHOR NAME
                    </div>
                    <div class="orange" style="font-weight: bold;">
                        Digital Folio Shopping
                    </div>
                </div>
                <div style="border-bottom: solid 1px #333333; padding-bottom: 10px; margin-bottom: 10px; ">
                    <div style=" font-weight: bold;">
                        AUTHOR NAME
                    </div>
                    <div class="orange" style="font-weight: bold;">
                        Digital Folio Shopping
                    </div>
                </div>
                <div style="border-bottom: solid 1px #333333; padding-bottom: 10px; margin-bottom: 10px; ">
                    <div style=" font-weight: bold;">
                        AUTHOR NAME
                    </div>
                    <div class="orange" style="font-weight: bold;">
                        Digital Folio Shopping
                    </div>
                </div>
            </div>

        </div>

        <div class="span9">

            <ul class="breadcrumb">
                <li><a href="{site_url}">Home</a></li>
                <li class="divider">&gt;&gt;</li>
                <li><a href="#">Services</a></li>
            </ul>

            <div>
                <h2>
                    Etiam laoreet varius dui in porttitor.
                </h2>
                <div class="page_content">

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare ornare suscipit. Aliquam erat volutpat. Donec a quam vulputate lorem sollicitudin gravida. Proin aliquam auctor ornare. Pellentesque posuere tincidunt lorem, eu vulputate sem sollicitudin vitae. Morbi scelerisque nunc vehicula ipsum vehicula eget dictum risus tempor. Aliquam et purus ante, id semper nisi. Vivamus in neque vel lorem consequat venenatis a id tortor.

                    <div class="spacer10"></div>
                    <h2>Funding</h2>

                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 100px;">
                                <img src="{asset_url}img/poc/st1.gif">
                            </td>
                            <td style="padding-left: 10px;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare ornare suscipit. Aliquam erat volutpat. Donec a quam vulputate lorem sollicitudin gravida. Proin aliquam auctor ornare. Pellentesque posuere tincidunt lorem, eu vulputate sem sollicitudin vitae. Morbi scelerisque nunc vehicula ipsum vehicula eget dictum risus tempor. Aliquam et purus ante, id semper nisi. Vivamus in neque vel lorem consequat venenatis a id tortor.
                            </td>
                        </tr>
                    </table>

                    <div class="spacer10"></div>
                    <h2>Data Center</h2>

                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 100px;">
                                <img src="{asset_url}img/poc/st2.gif">
                            </td>
                            <td style="padding-left: 10px;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare ornare suscipit. Aliquam erat volutpat. Donec a quam vulputate lorem sollicitudin gravida. Proin aliquam auctor ornare. Pellentesque posuere tincidunt lorem, eu vulputate sem sollicitudin vitae. Morbi scelerisque nunc vehicula ipsum vehicula eget dictum risus tempor. Aliquam et purus ante, id semper nisi. Vivamus in neque vel lorem consequat venenatis a id tortor.
                            </td>
                        </tr>
                    </table>

                    <div class="spacer10"></div>
                    <h2>Recruitment</h2>

                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 100px;">
                                <img src="{asset_url}img/poc/st3.gif">
                            </td>
                            <td style="padding-left: 10px;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare ornare suscipit. Aliquam erat volutpat. Donec a quam vulputate lorem sollicitudin gravida. Proin aliquam auctor ornare. Pellentesque posuere tincidunt lorem, eu vulputate sem sollicitudin vitae. Morbi scelerisque nunc vehicula ipsum vehicula eget dictum risus tempor. Aliquam et purus ante, id semper nisi. Vivamus in neque vel lorem consequat venenatis a id tortor.
                            </td>
                        </tr>
                    </table>

                    <div class="spacer10"></div>
                    <h2>Office Space</h2>

                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 100px;">
                                <img src="{asset_url}img/poc/st4.gif">
                            </td>
                            <td style="padding-left: 10px;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare ornare suscipit. Aliquam erat volutpat. Donec a quam vulputate lorem sollicitudin gravida. Proin aliquam auctor ornare. Pellentesque posuere tincidunt lorem, eu vulputate sem sollicitudin vitae. Morbi scelerisque nunc vehicula ipsum vehicula eget dictum risus tempor. Aliquam et purus ante, id semper nisi. Vivamus in neque vel lorem consequat venenatis a id tortor.
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="spacer20"></div>
            </div>




        </div>
    </div>
</div>

<div class="signupfor">
	<div class="container signupfor_inner">
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span9 signupfor_text">
				Sign Up for Proof Of Concept <button class="btn btn-poc" style="display: inline; margin-left: 10px; margin-top: -4px;">Join POC</button>
			</div>
		</div>
	</div>
</div>